<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/address"></ion-back-button>
    </ion-buttons>
    <ion-title>{{isEditMode?'Edit':'Add'}} Address</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollY]="false">
  <form [formGroup]="addressForm" (ngSubmit)="onSubmit()">
    <ng-container
      *ngFor="let field of ['firstname', 'lastname', 'email', 'phonenumber', 'address']"
    >
      <ion-item>
        <ion-label position="floating">{{ field | titlecase }}</ion-label>
        <ion-input
          [type]="field === 'email' ? 'email' : 'text'"
          [formControlName]="field"
        ></ion-input>
      </ion-item>

      <!-- Error message outside ion-item -->
      <div *ngIf="isFieldInvalid(field)">
        <ion-text color="danger">
          <p class="ion-padding-start">{{ getErrorMessage(field) }}</p>
        </ion-text>
      </div>
    </ng-container>

    <ion-button
      expand="full"
      type="submit"
      [disabled]="addressForm.invalid || isSubmitted"
      [attr.color]="isSubmitted?'success':null"
    >
      {{ isSubmitted ? 'Submitted' : 'Submit' }}
    </ion-button>
  </form>
</ion-content>
